---
permalink: /index.html
layout: base
title: Home
---

<div class="home-pane">
    <div class="home-container">

    <div class="home-buffer-container"></div>

    <div class="home-subtitle-container">
        <h1 class="no-margin subtitle-text">{{site.author-school}}</h1>
        <h1 class="no-margin subtitle-text">{{site.author-info}}</h2>
    </div>

    <div class="home-title-container">
        <h1 class="title-text text-center">{{site.title}}</h1>
    </div>

    <div class="home-picture-container">
        <img srcset="{{site.home-image-480-path}} 480w, {{site.home-image-800-path}} 800w" src="{{site.home-image-path}}">
    </div>

    <div class="home-nav-container">
        {% include nav.html %}
        {% include social.html %}
    </div>

    <div class="home-buffer-container"></div>

    </div>
</div>
    