body {
  height: 100%;
  margin: 0 0 0 0;
}
  
html {
  height: 100%;
}

.home-pane {
  height: 100%;
  background-color: $primary-colour;
}

.home-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  max-width: $mobile-breakpoint;
}

.home-subtitle-container {
  @include full-center;
  flex-direction: column;  
  flex: 10;
  flex-basis: 0;
}

.home-title-container {
  @include full-center;
  flex: 10;
  flex-basis: 0;
}

.home-picture-container {
  @include full-center;
  flex: 55;
  flex-basis: 0;
  min-height: 0;
}

.home-picture-container img {
  height: 100%;
  width: auto;
}

.home-nav-container {
  @include full-center;
  flex-direction: column;
  flex: 15;
  flex-basis: 0;
}

.home-nav-container ul {
  margin-top: 10px;
}

.home-buffer-container {
  flex: 5;
  flex-basis: 0;
}

.page-pane {
  min-height: 100%;
  background-color: $primary-colour;
}

.page-container {
  margin: auto;
  padding: 20px 20px 20px 20px;
  max-width: $mobile-breakpoint;
}

.page-header {
  @include full-center;
  height: 50px;
}

.page-footer {
  @include full-center;
  height: 60px;
}

.page-image-container {
  @include full-center;
}

.page-image-container img {
  width: 100%;
}