@font-face {
    font-family: 'Tintin';
    src: url('../fonts/tintin.ttf');
}

@font-face {
    font-family: 'Proxima-Nova-Bold';
    src: url('../fonts/proxima-nova-bold.otf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}