.text-center {
    text-align: center;
}

@mixin full-center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.no-margin {
    margin: 0 0 0 0;
}

.no-padding {
    padding: 0 0 0 0;
}