.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

@media (max-width: $mobile-breakpoint) {
    .nav-bar {
        font-size: 14px;
    }
}

.nav-bar li {
    display: inline-block;
}

.nav-bar li:not(:first-child):before {
    content: '/';
    padding: 0 12px 0 12px;
}

@media (max-width: $mobile-breakpoint) {
    .nav-bar li:not(:first-child):before {
        padding: 0 9px 0 9px;
    }
}

.nav-bar li a {
    text-transform: uppercase;
}
