.font-proxima-nova-bold {
    font-family: 'Proxima-Nova-Bold';
}

.font-tintin {
    font-family: 'Tintin';
}

.primary-colour {
    color: $primary-colour;
}

.secondary-colour {
    color: $secondary-colour;
}